header {
  border-bottom: 1px solid #ececec;
}
.container_header--flex {
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
}

.logo__container-header {
  color: #000000;
}
