.logo {
  width: 145px;
  height: 31px;
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--akcent-color);
}

.logo__container-header {
  color: #000000;
}
.logo__container-footer {
  color: var(--background-color);
}
