.section {
  padding: 94px 0;
}
.section--zero-padding {
  padding-top: 0;
}

.section--team-list-color {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section--outline {
  outline: 2px solid white;
}
