.section {
  padding: 94px 0;

  &--zero-padding {
    padding-top: 0;
  }

  &--team-color {
    padding-bottom: 94px;
    background-color: #f5f4fa;
  }
  &--outline {
    outline: 2px solid white;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: Center;
    color: var(--title-text-color);
  }
}
