.solial-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.solial-list__link:hover .solial-list__icon,
.solial-list__link:focus .solial-list__icon {
  fill: var(--background-color);
}
